html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: dodgerblue;
  margin: 0;
  padding: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 3px solid #777;
  border-radius: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #4CA82C;
  color: white;
  padding: 15px 0;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  box-sizing: border-box;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.formInput h1 {
  text-align: center;
}

.formInput div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switchPage {
  display: block;
  text-align: center;
  align-items: center;
}

.switchPage a {
  color: dodgerblue;
  text-decoration: none;
}